<title>the error fare </title>
<center>

<h1>Welcome to the error fare website </h1>

<html>
<head>
<style>
    body  
    {
      background-image: url("plane.gif"), url("plane_model.gif") ;
      background-color: #501597;
    }
</style>


To <input id="search" name="destination" placeholder="Destination" type="text" name="city" list="airports">
<datalist id="airports"> 
  {% for item in fileData %}
  <option value={{item.iata}}>{{item.name}}</option>
  {% endfor %}
</datalist>




From<input id="search" name="origin" placeholder="origin" type="text" name="city" list="airports">
<datalist id="airports"> 
  {% for item in fileData %}
  <option value={{item.iata}}>{{item.name}}</option>
  {% endfor %}
</datalist>


<div id="match-list"></div>

Depart <input type="date" name="departureDate" id = "txtDepart" value="03-08-2021" required >

Return <input type="date" name="returnDate" id = "txtReturn" value="03-08-2021" required>

Class <select name="class" id="txtClass" >
    <option selected value="Economy">Economy</option>
    <option value="Premium_Economy">Premium Economy</option>
    <option value="Business">Business Class</option>
    <option value="First">First Class</option>
    
    
  </select>
  


Budget <input type="number" name="budget" value ="" id = "txtBudget" placeholder="Enter your budget"> 





<p>
<input type="submit" name="submit" value="Submit" id = "txtSubmit" >

</p>

</center>
</form>
</head>




