<title>the error fare </title>
<h1>Welcome to the error fare website </h1>
<html>
<head>
<style>
    body  
    {
      background-image: url("plane.gif"), url("plane_model.gif") ;
      background-color: #501594;
    }
</style>



<form method="post" action=" ">
<p>
    Email <input type="text" name="" value ="" id = "txtEmail">

</p>

<p>

Ticket <select name="ticketType" id = "txtTicket">
    <option selected value="onewaytrip">One way</option>
    <option  value="return">Return</option>
  </select>
</p>


To <input type="text" name='destination' id="search" class="form-control" placeholder = "Enter destination" autocomplete="off"
selectBoxOptions= match >

<input type="text" name="city" list="airports">
<datalist id="airports"> 
  <option value="dog">Dog</option>
</datalist>


<div id="match-list"></div>




From <input type="text" name="origin" value ="" id = "txtFrom" placeholder="Enter departing airport">

Depart <input type="date" name="departureDate" id = "txtDepart" value="03-08-2021" required>

Return <input type="date" name="returnDate" id = "txtReturn" value="03-08-2021" required>

Class <select name="class" id="txtClass" >
    <option value="First class">First class</option>
    <option value="Business class">Business class</option>
    <option selected value="Economy">Economy</option>
  </select>
  
People <select name="people" id="txtPeople">
    <option value="Children">Children</option>
    <option selected value="Adult">Adult</option>
  </select>

Budget <input type="number" name="budget" value ="" id = "txtBudget" placeholder="Enter your budget"> 

  
<p>Direct <input type="checkbox" name="direct" value="" id="txtDirect">
</p>

<p>
<input type="submit" name="submit" value="Submit" id = "txtSubmit" >

</p>



<script>

  console.log('HEre')


  var parser = new DOMParser;
  var dom = parser.parseFromString(  '<!doctype html><body>\'' + JSON.stringify({{fileData}}) + '\'','text/html');
  var decodedString = dom.body.textContent;
  alert(decodedString)
  //var mydata = {{fileData}}

  //var dataList = document.getElementById('airports');
  

//foreach()

  // Loop over the JSON array.
  //mydata.forEach(function(item) {
    //var option = document.createElement('option');
    
    //option.value = item.iata;
    //option.text = item.name;
  
    //dataList.appendChild(option);
  //});
  
  
  </script>

</form>
</head>




